<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ball.Sample6_1_Activity"/>
        <activity android:name="com.ball6_2.Sample6_2_Activity"/>
        <activity android:name="com.triangle.MyActivity"/>
        <activity android:name="com.a7_4.MyActivity"/>
        <activity android:name="com.moon_and_earth.MyActivity"/>
        <activity android:name="com.cacher_func.catcherFun.MyActivity"/>
    </application>

</manifest>